# Node.js dependencies
node_modules/

# Production build files
dist/

# Debug files
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# Editor and IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.ps1

# System files
.DS_Store
Thumbs.db

# Optional lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
