---
import HomeContent from './HomeContent.astro'; 
import FeaturedPosts from './FeaturedPosts.astro';
import Background from './Background.astro';
---

<>
<div class="items-start">
  <HomeContent />
  <Background></Background>
  <FeaturedPosts />
</div>
</>
