
<>
<div class="flex flex-col mt-5 text-lg">
    <p class="mt-2 text-lg">
      Outside of work, you’ll likely find me on the football field, diving
      into a manga, watching anime, on a road trip, or catching up on sleep.
    </p>
    <p class="mt-2 text-lg">
      Here’s a bit about my background: I completed a BS-MS Dual Degree in
      Mathematics from{" "}
      <href
        href="https://www.iiserb.ac.in/"
        class="hover:text-blue-400 underline"
      >
        IISER Bhopal
    </href>
      . I briefly worked at Deloitte as a Consultant for a month before
      choosing to advance my studies with an M.Tech in Mathematics and
      Computing at{" "}
      <href
        href="https://www.iitm.ac.in/"
        class="hover:text-blue-400 underline"
      >
        IIT Madras
      </href>
      .
    </p>
  </div>
  </>