---
import { featuredArticles } from '../utils/featuredArticles.ts';

---

<div class="mt-5">
  <h2 class="text-2xl font-semibold">&#128161 Featured Posts</h2>
  <p class="mt-2 text-lg">
    A collection of articles that I have started writing recently.
  </p>
  <div class="text-lg">
    {featuredArticles.map((article) =>
      article.feature ? (
        <ul>
          <li class="mb-1 list-disc mx-10" key={article.label}>
            <a
              href={article.href}
              class="px-2 mt-2 text-blue-400 hover:underline"
            >
              {article.label}
            </a>
          </li>
        </ul>
      ) : null
    )}
  </div>
</div>
