---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutMe from './components/AboutMe.astro';
const title = "Neeraj Kumar"
---


<BaseLayout {title}>
  <h1 class="text-3xl font-bold">&#128075 Hello</h1>
  <AboutMe />
</BaseLayout>
