---
import BaseLayout from "../layouts/BaseLayout.astro";
import DashedComponent from "../components/DashedComponent.astro";

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);

// Filter posts that do NOT contain the "TIL" tag
const filteredPosts = allPosts.filter(
  (post: any) => !post.frontmatter.tags?.includes("TIL")
);

// Sort filtered posts by published date (descending order)
filteredPosts.sort((a: any, b: any) => 
  new Date(b.frontmatter.publishedDate).getTime() - new Date(a.frontmatter.publishedDate).getTime()
);

// Extract unique tags from the filtered posts
const uniqueTags = [
  ...new Set(filteredPosts.map((post: any) => post.frontmatter.tags).flat()),
];

const title ="Nitish Kumar"
---

<BaseLayout {title}>
  <h1 class="text-3xl font-bold">📋 Posts</h1>
  <div class="italic text-zinc-500 mb-4 mt-6 flex flex-row justify-between text-lg">
    <p>
      Subscribe to{" "}
      <a href="https://hashnode.com/@nov1ce" class="text-blue-400 hover:text-blue-300 hover:underline">
        Hashnode Feed
      </a>
    </p>
  </div>
  <DashedComponent />

  <!-- Posts Section -->
<ul>
    {filteredPosts.map((post: any) => (
      <li key={post.frontmatter.slug}>
        <div class="flex flex-row gap-6 text-lg items-baseline">
          <!-- Displaying the formatted published date with fixed width for alignment -->
          <p class="w-32 tabular-nums">
            {new Date(post.frontmatter.publishedDate).toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "2-digit",
            })}
          </p>
          <!-- Displaying the post title as a link -->
          <a href={post.url} class="text-lg text-blue-400 hover:text-blue-300 hover:underline">
            {post.frontmatter.title}
          </a>
        </div>
      </li>
    ))}
  </ul>
</BaseLayout>
