---
import BaseLayout from "../layouts/BaseLayout.astro";
import DashedComponent from "../components/DashedComponent.astro";

const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);

// Filter posts that include "TIL" in the title or tags
const tilPosts = allPosts.filter(
  (post: any) =>
    post.frontmatter.title.includes("TIL") ||
    post.frontmatter.tags?.some((tag: string) => tag.includes("TIL"))
);

const title ="Neeraj Kumar"
---

<BaseLayout>
  <h1 class="text-3xl font-bold">🧠 TIL</h1>
  <div class="italic text-zinc-500 mt-6 flex flex-row justify-between text-lg">
    <p>
      Subscribe to{" "}
      <a href="https://hashnode.com/@nov1ce" class="text-blue-400 hover:text-blue-300 hover:underline" target="_blank" rel="noopener noreferrer">
        Hashnode Feed
      </a>
    </p>
  </div>
  <DashedComponent />

<!-- TIL Posts Section -->
<ul>
  {tilPosts
    .sort((a, b) => new Date(b.frontmatter.publishedDate) - new Date(a.frontmatter.publishedDate))
    .map((post: any) => (
      <li key={post.frontmatter.slug}>
        <div class="flex flex-row gap-6 text-lg">
          <p class="w-32 tabular-nums">
            {new Date(post.frontmatter.publishedDate).toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "2-digit",
            })}
          </p>
          <a href={post.url} class="text-lg text-blue-400 hover:text-blue-300 hover:underline" data-astro-prefetch>
            {post.frontmatter.title}
          </a>
        </div>
      </li>
    ))}
</ul>
</BaseLayout>
