---
// Footer.astro
import Socials from "./Socials.astro";
import Copyright from "./Copyright.astro";
---

<div class="items-center px-4 sm:px-8 md:px-16 lg:px-32 xl:px-64 mt-10">
  <Copyright />
  <Socials />
</div>
