---
// Socials.astro
import { FaLinkedin } from "react-icons/fa6";
//import { RiTwitterXLine } from "react-icons/ri";
import { FaGithub } from "react-icons/fa6";
---


<div class="flex flex-row justify-center gap-5 mt-4">
  <a href="https://www.linkedin.com/in/neerajk21036/">
    <FaLinkedin className="h-6 w-6" />
  </a>
  //<a href="https://x.com/">
    //<RiTwitterXLine className="h-6 w-6" />
  //</a>
  <a href="https://github.com/nk3099">
    <FaGithub className="h-6 w-6" />
  </a>
</div>